

<div class="">
  <div class="d-flex justify-content-center mt-5"> 

      <img class="cvbild" src="https://i.gyazo.com/f923f7d7384f8fde81b218cd110d660f.png" alt="min bild">
      <h1 class="m-4">Pourya Yarahmadi</h1>
  </div>
  
  <div class="bg-blue">
    <div class="d-flex justify-content-center">
      <div class="text">
        
        <h3 class="fond">Detaljer</h3>
        <br>
        <p class="fond">Valborgsmässovägen 20A</p>
        <h5 class="fond">12637</h5>
        <h5 class="fond">Email: pori@live.se</h5>
        <br>
        <p class="fond">KÖRKORT</p>
        <h5 class="fond blue-text">B</h5>
        <br>
        <h3 class="fond">Språk</h3>
        <br>
        <h5 class="fond">Svenska</h5>
        <br>
        <h5 class="fond">Engelska</h5>
        <br>
        <h5 class="fond">Persiska/Farsi</h5>

        </div>
      </div>
    </div>
    
    
    <div class="profilen container">
      <h3 class="mt-5 fond">Profil</h3>
      <p>Som person är jag entusiastisk och initiativrik samt att jag har mycket bra
        samarbetsförmåga. <br> På gund av mina tidigare arbetslivserfarenheter så är jag
        uppmärksam, har lätt för att kommunicera och är väldig noggrann.<br> Jag har alltid känt
        ett stort ansvar för de arbetsuppgifter som jag har åtagit mig, vilket gör att jag alltid
        strävar efter bästa kvalitet.</p>
    </div>
    
    
  </div>
  
  
  <div class="arbete mt-5">
    <h1>Arbetslivserfarenhet</h1>
    <br>
    <h3>Städare, Max Hamburgerkedja, Uppsala</h3>
    <p class="grey mt-3">JANUARI 2012 — JANUARI 2013</p>
    <p class="fondd">Arbetet bestod mestadels av att se till att restaurangen var ren och fräsch </p>
  </div>

  <div class="arbete mt-5">
    <h3>Pizzabagare, Pizzaköket, Uppsala</h3>
    <p class="grey mt-3">JUNI 2014 - NOVEMBER 2018</p>
    <p class="fondd">Under mina år på denna restaurang fick jag ta emot beställningar, laga olika
      maträtter, baka pizzor samt köra ut maten till kunderna </p>
  </div>


  <div class="arbete mt-5">
    <h3>Transportör, Best Transport, Uppsala</h3>
    <p class="grey mt-3">NOVEMBER 2014 - JANUARI 2015</p>
    <p class="fondd">Hos företaget Best Transport fick jag jobba med transport och leverans av catering,
      möbler samt matvaror.</p>
  </div>

  <div class="arbete mt-5">
    <h3>Försäljare, VIQ TV-Team, Uppsala</h3>
    <p class="grey mt-3">JUNI 2015- OKTOBER 2015</p>
    <p class="fondd">Här jobbade jag som försäljare där jag bland annat sålde produkter såsom Comhem,
      Canal digital, Boxer m.m</p>
  </div>

  <div class="arbete mt-5">
    <h3>Diskare, Ekeby skolan, Uppsala</h3>
    <p class="grey mt-3">FEBRUARI 2018 - NOVEMBER 2018</p>
    <p class="fondd">Jag jobbade i köket. Tog hand om städningen samt disken</p>
  </div>


  <div class="arbete mt-5">
    <h3>Vårdbiträde, Akademiska sjukhuset , Uppsala</h3>
    <p class="grey mt-3">JUNI 2016 - APRIL 2021</p>
    <p class="fondd">Arbetet bestod av att ge praktisk hjälp med omvårdnad, måltider, städning, tvätt
      m.m. </p>
  </div>

  <div class="arbete mt-5">
    <h3>Lager, Apotea, Uppsala</h3>
    <p class="grey mt-3">JANUARI 2019 - OKTOBER 2019</p>
    <p class="fondd">Befann mig mestadels i lagret där jag fick hämta, sortera samt leverera varor och
      produkter.</p>
  </div>


  <div class="arbete mt-5">
    <h3>Hemtjänst, Uppsala kommun, Uppsala</h3>
    <p class="grey mt-3">DECEMBER 2020 - MAJ 2021</p>
    <p class="fondd">Hjälpte patienterna med deras dagliga sysslor. Allt från att laga mat, städa, hjälpa
      dem duscha samt ta hand om deras hygien.</p>
  </div>

  <div class="arbete mt-5">
    <h3>Utbildning</h3>
    <p class="grey mt-3"></p>
    <p class="fondd">Fronted-Utvecklare, EC-utbildningar , Västerås</p>
  </div>

  <div class="arbete mt-5">
    <h3>Estetiska/Sam programmet , IT-gymnasium, Uppsala</h3>
    <p class="grey mt-3">AUGUSTI 2012 - JUNI-2015</p>
    <h3 class="pt-5">Referenser:</h3>
    <strong class="pb-5 fondd">Referenser lämnas ut på begäran</strong>
  </div>

  
