<div class="container">
<!--         <div class="bg-image hover-overlay ripple shadow-1-strong rounded"
        data-mdb-ripple-color="light">
        <img src="https://scontent.farn2-1.fna.fbcdn.net/v/t1.6435-9/106794629_3459185424125946_6536771853419542943_n.jpg?_nc_cat=108&ccb=1-3&_nc_sid=174925&_nc_ohc=JpkVzxMqnp0AX-HmXI5&_nc_ht=scontent.farn2-1.fna&oh=adaa16efc50f276d5f79c5800b164afa&oe=60C3D97E" 
        class="homeimage w-100">
        <div class="mask" style="background-color: rgba(251, 251, 251, 0.35);"></div>
    </div> -->

        <div
    
            class="bg-image d-flex justify-content-center align-items-center bg-image hover-overlay ripple shadow-1-strong rounded" data-mdb-ripple-color="light"
           
            style=" 
                    background-image: url('https://scontent.farn2-1.fna.fbcdn.net/v/t1.6435-9/106794629_3459185424125946_6536771853419542943_n.jpg?_nc_cat=108&ccb=1-3&_nc_sid=174925&_nc_ohc=JpkVzxMqnp0AX-HmXI5&_nc_ht=scontent.farn2-1.fna&oh=adaa16efc50f276d5f79c5800b164afa&oe=60C3D97E');
                    height: 90vh; filter: brightness(50%)">
                <div class="mask collapse"></div>
  
                
        </div>
        <h1 class="text-white fond start-bild">Välkommen</h1>
        <p class="fond text-white ptag">Hej mitt namn är Pourya Yarahmadi, 25år gammal från Uppsala, har nyligen flyttat till huvudstaden<br> för det är där jag vill starta min IT karriär. 
            Problem är till för att lösas tänker jag i alla situationer.<br> Jag är en driven och social individ som tar mycket ansvar vad gäller arbetsuppgifter <br> och som inte är rädd för att ta mig an nya utmaningar</p>
        <h1 class="text-white fond om">mer om mig hittar du på <a routerLink="/about">"Om Mig"</a></h1>
</div>
